@media screen and (max-width: 959px){
    body{
        & .main__menu{
            width: 80%;
            height: 400px;
        }
    
        & .soonbox{
            width: 40%;
            min-width: 375px;
        }
    }
    footer{
        height: 3em;
        & a{
            font-size: 1.4em;
        }
    }
}

@media screen and (max-width: 426px){
    body .main__menu{
        width: 90%;
        min-width: 300px;
    }

     body .soonbox{
        font-size: 2em;
    }

    footer{
        & a{
            font-size: 1.3em;
            text-align: center;
        }
    }
}

@media screen and (max-width: 390px){

    body{
        & .soonbox{
            width: 95%;
            min-width: 300px;
        }
    }
    footer{
        position: initial;
        align-items: center;
        & a{
            height: auto;
            font-size: 1em;
            text-align: center;
        }
    }
}