/* ----- Définition des mixins ----- */

// Définition des styles des pages menus
@mixin menu_config($selected_menu){
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
    padding: 20px 0;
    margin-bottom: 50px;
    box-shadow: 0 0 10px rgba(128, 128, 128, .7);
    background-color: map-get($m_menu_background_color, $selected_menu);
    @media screen and (max-width: 959px){
        width: 95%;
    }
}

// Définition du style des titres de catégories de plats (h4)
@mixin titres_cat_plats($selected_menu){
    h4{
        font-size: 1.3em;
        text-align: center;
        font-weight: bolder;
        & span{
            display: inline-block;
            line-height: 1.5;
            z-index: 2;
            background-color: map-get($m_menu_background_color, $selected_menu);
            padding: 0 45px;
            position: relative; // Pour placer le ::before (Soulignage)
            @media screen and(max-width: 525px){
                width: 100%;
                padding: 0;
                font-size: .85em;
            } 
        }
    }
}

// Définition du style des section
@mixin section_config{
    width:90%;
    margin: 5px 0 10px;
    & ul{
        padding: 0;
        list-style-type: none;
        width: 100%;
        margin: auto;
        & li{
            display: flex;
            justify-content: space-between;
            margin: 2.5em 0;
            line-height: 1.2;
            @media screen and (max-width: 1200px){
                align-items: center;
            }
            @media screen and (max-width: 600px){
                text-align: center;
                flex-direction: column;
            }
            & .prix{
                font-weight: bolder;
                padding: 0 0 0 30px;
                @media screen and (max-width: 600px){
                    padding: 20px 0 0 0;
                }
            }
        }
    }
}

// Attribution des couleurs de catégories de plats en fonction du menu
@mixin dishes_text_color($selected_menu){
    $selected_menu: map-get($m_dishes_text_color, $selected_menu);
    .entrees{
        color: map-get($selected_menu, entrees);
    }
    .plats{
        color: map-get($selected_menu, plats);
    }
    .desserts{
        color: map-get($selected_menu, desserts);
    }
}

// Définition du styl de la note de musique du menu1
@mixin musical_note {
    padding-top: 10px;
    font-size: 4em;
    margin: 0;
    background: linear-gradient(to right, $menu1-theme1, $menu1-theme2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
    font-family: sans-serif;
}

// Définition style du titre du premier menu (îcone + nom de restau)
@mixin menu1_titre {
    margin: 0 0 7px;
    font-family: 'Devonshire-Regular';
    font-size: 2em;
    font-weight: lighter;
    color: $menu1-theme3;
}

// Animation de fondu sur les menus de l'index.html
@mixin anim_fondu{
    .fondu{
        transform: scale(1);
        opacity: 1;
        transition: all 1s ease-in-out;
    }
    a:hover{
        display: inline;
        & + .fondu{
        transform: scale(1.2);
        // filter: blur(2px);
        opacity: .3;
        }    
    }
}

// Définit les lignes autour du titre de la catégorie de plat
@mixin contour_titre($selected_menu){
    .contour{
        width: 100%;
        height: 5px;
        position: relative;
        height: 45px;
        margin-bottom: 15px;
        position: relative;
        &::after{
            $selected_menu: map-get($m_dishes_lines_color, $selected_menu);
            content: "";
            position: absolute;
            height: 5px;
            top: 50%;
            width: 100%;
            @media screen and(max-width: 700px){
                display: none;
            }           
        }
        &__entrees::after{
            border-bottom: 1px solid map-get($selected_menu, entrees);
            border-top: 1px solid map-get($selected_menu, entrees);
        }
        &__plats::after{
            border-bottom: 1px solid map-get($selected_menu, plats);
            border-top: 1px solid map-get($selected_menu, plats);
        }
        &__desserts::after{
            border-bottom: 1px solid map-get($selected_menu, desserts);
            border-top: 1px solid map-get($selected_menu, desserts);
        }
    }  
}

// Animation de soulignage des titres de catégories de plats
@mixin anim_underline($selected_menu){
    $selected_menu: map-get($m_dishes_lines_color, $selected_menu);
    .contour span:hover::before {
        transform: scaleX(1);
        opacity: 1;
    }
    .contour span::before{
        content: '';
        width: 70%;
        height: 2px;
        position: absolute;
        bottom: 0; left: 15%;
        border-radius: 50px;
        transform: scaleX(0);
        transform-origin: left;
        opacity: 0;
        transition: all .9s ease-in-out;
        @media screen and(max-width: 700px){
            opacity: 1;
            transform: scale(1);
        } 
    }
    .contour__entrees span::before{
        background-color: map-get($selected_menu, entrees);
    }
    .contour__plats span::before{
        background-color: map-get($selected_menu, plats);
    }
    .contour__desserts span::before{
        background-color: map-get($selected_menu, desserts);
    }
    
}