/* Définition des mixins */

@mixin musical_note {
    padding-top: 10px;
    font-size: 4em;
    margin: 0;
    background: linear-gradient(to right, $menu1-theme1, $menu1-theme2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
    font-family: sans-serif;
}

@mixin menu1_titre {
    margin: 0 0 7px;
    font-family: 'Devonshire-Regular';
    font-size: 2em;
    font-weight: lighter;
}

