// Définition des mixins 

@mixin menu_config ($menu) {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
    padding: 15px 0;
    margin-bottom: 50px;
    box-shadow: 0 0 5px gray;

    $theme_menu: map-get($mapmenu, $menu);
    color: map-get($theme_menu, txt);
    background-color: map-get($theme_menu, bg);
}

@mixin musical_note {
    padding-top: 10px;
    font-size: 4em;
    margin: 0;
    background: linear-gradient(to right, $menu1-theme1, $menu1-theme2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
    font-family: sans-serif;
}

@mixin menu1_titre {
    margin: 0 0 7px;
    font-family: 'Devonshire-Regular';
    font-size: 2em;
    font-weight: lighter;
}



