// Définition des variables du site 

$color-primary: #589c87;
$color-secondary: #fdcb46;

$background-color-menu1: #fcdfdb;
$background-color-menu2: #fff5fe;
$background-color-menu3: #f9f9f9;
$background-color-menu4: #fdfffd;

$menu1-theme1: #f05560;
$menu1-theme2: #f78f6a;
$menu1-theme3: #451b21;
$menu2-theme1: #c67412;
$menu2-theme2: #6e4ccc;
$menu2-theme3: #a56799;
$menu3-theme1: #1944e2;
$menu3-theme2: #91c7f9;
$menu3-theme3: #339af9;
$menu4-theme1: #61a75a;
$menu4-theme2: #c7f79e;
$menu4-theme3: #7cc362;




// Définition des maps du site

$mapmenu: (
    menu1:(
        txt: $menu1-theme3,
        bg: $background-color-menu1,
    ),
    menu2:(
        txt: black,
        bg: $background-color-menu2,
    ),
    menu3:(
        txt: black,
        bg: $background-color-menu3,
    ),
    menu4:(
        txt: black,
        bg: $background-color-menu4,
    )
);