// Définition des variables du site 

$color-primary: #589c87;
$color-secondary: #fdcb46;

$background-color-menu1: #fcdfdb;
$background-color-menu2: #fff5fe;
$background-color-menu3: #f9f9f9;
$background-color-menu4: #fdfffd;

$menu1-theme1: #f05560;
$menu1-theme2: #f78f6a;
$menu1-theme3: #451b21;
$menu2-theme1: #c67412;
$menu2-theme2: #6e4ccc;
$menu2-theme3: #a56799;
$menu3-theme1: #1944e2;
$menu3-theme2: #91c7f9;
$menu3-theme3: #339af9;
$menu4-theme1: #61a75a;
$menu4-theme2: #c7f79e;
$menu4-theme3: #7cc362;


$menu_category_underline_color: (menu1: $menu1-theme3, menu2:$menu2-theme3, menu3: $menu3-theme3, menu4: $menu4-theme3);

/* ------- Définition des maps du site ------ */

//Couleur de fond des menus

$m_menu_background_color: (
    menu1: $background-color-menu1,
    menu2: $background-color-menu2,
    menu3: $background-color-menu3,
    menu4: $background-color-menu4,
);

// Couleur catégories de plats

$m_dishes_text_color: (
    menu1: (
        entrees: $menu1-theme3,
        plats: $menu1-theme3,
        desserts: $menu1-theme3,
    ),
    menu2: (
        entrees: $menu2-theme1,
        plats: $menu2-theme3,
        desserts: $menu2-theme2,
    ),
    menu3: (
        entrees: black,
        plats: black,
        desserts: black,
    ),
    menu4: (
        entrees: black,
        plats: black,
        desserts: black,
    ), 
);

// Couleur ligne entourant la catégorie de plat

$m_dishes_outline_color: (
    menu1: (
        entrees: $menu1-theme3,
        plats: $menu1-theme3,
        desserts: $menu1-theme3,
    ),
    menu2: (
        entrees: $menu2-theme1,
        plats: $menu2-theme3,
        desserts: $menu2-theme2,
    ),
    menu3: (
        entrees: #0e32de,
        plats: #0b73f3,
        desserts: #4eaff7,
    ),
    menu4: (
        entrees: #41963c,
        plats: #7bc65c,
        desserts: #aae583,
    ), 
);