/* Définition des paramètre de la page principale */

.main{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    &__menu{
        width: 35%;
        height: 600px;
        margin: 25px;
        box-shadow: 0 0 3px rgba(0, 0, 0, .3);
        padding-top: 50vh;
        text-align: center;
        &__1{
            background-color: $background-color-menu1;
            color: $menu1-theme3;
            & .enseigne1{
                line-height: 1;
                & .musical-note{
                @include musical_note;
                }
                & h3{
                    @include menu1_titre;
                }
            }
            & a{
                font-family: 'Kalam-Regular', sans-serif;
                font-size: 3.5em;
            }
        }
        &__2{
            background-color: $background-color-menu2;
            & h3{
                background: linear-gradient(to right, $menu2-theme1, $menu2-theme2);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-family: 'CroissantOne-Regular', sans-serif;
                font-size: 1.7em;
                font-weight: 100;
            }
            & a{
                font-family: ApparatusSIL, sans-serif;
                font-size: 3em;
                color: $menu2-theme1;
                font-weight: 700;
            }
        }
        &__3{
            background-color: $background-color-menu3;
            & h3{
                background: linear-gradient(to right, $menu3-theme1, $menu3-theme2);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-family: 'CroissantOne-Regular', sans-serif;
                font-size: 1.7em;
                font-weight: 100;
            }
            & a{
                font-family: 'WorstveldSlingBoldOblique', sans-serif;
                font-size: 4em;
                color: $menu3-theme3;
                font-weight: 200;
            }
        }
        &__4{
            background-color: $background-color-menu4;
            & h3{
                background: linear-gradient(to right, $menu4-theme1, $menu4-theme2);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-family: 'CroissantOne-Regular', sans-serif;
                font-size: 1.7em;
                font-weight: 100;
            }
            & a{
                font-family: 'WorstveldSlingBoldOblique', sans-serif;
                font-size: 4em;
                color: $menu4-theme3;
                font-weight: 200;
            }
        }
    }
    
}