.menu1{
    @include menu_config (menu1);
    @include dishes_text_color (menu1);
    @include contour_titre(menu1);
    @include anim_underline(menu1);
    font-family: 'Segoe Print', sans-serif;
    & .enseigne1{
        display: flex;
        flex-direction: column;
        align-items: center;
        & .musical-note{
            @include musical_note;
        }
        & h3{
            @include menu1_titre;
        }
    }
    & h4{
        text-align: center;
        font-size: 1.5em;
        font-weight: bolder;
    }
    & h4 span{
        z-index: 2;
        background-color: $background-color-menu1;
        padding: 0 45px;
        position: relative;
        
      }
    &__section{
        width:90%;
        margin: 5px 0 10px;
        & ul{
            padding: 0;
            line-height: 3;
            list-style-type: none;
            width: 100%;
            margin: auto;
            & li{
                display: flex;
                justify-content: space-between;
                & .prix{
                    font-weight: bolder;
                }
            }
        }
    }
    & .enseigne1-small{
        display: flex;
        align-items: center;
        align-items: baseline;
        margin: 40px 0;
        & .musical-note{
            @include musical_note;
            font-size: 2em;
            margin: 0 7px;
        }
        & h3{
            @include menu1_titre;
            font-size: 1.5em;
        }
    }
}

.menu2{ 
    @include menu_config (menu2);
    @include dishes_text_color (menu2);
    @include contour_titre(menu2);
    @include anim_underline(menu2);
    font-family: 'ingleby_regular', sans-serif;
    & h3{
        font-size: 1.7em;
        margin: 70px 0;
        background: linear-gradient(to right, $menu2-theme1, $menu2-theme2);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'CroissantOne-Regular', sans-serif;
    }
    & h4{
        font-size: 1.5em;
        text-align: center;
        font-family: 'ingleby_bold', sans-serif;
    }
    & h4 span{
        z-index: 2;
        background-color: $background-color-menu2;
        padding: 0 45px;
        line-height: 60px;
        position: relative; // Pour placer le ::before (Soulignage)
    }
    &__section{
        width: 90%;
        margin-bottom: 40px;
        & ul{
            padding: 0;
            line-height: 3;
            list-style-type: none;
            width: 80%;
            margin: auto;
            & li{
                display: flex;
                justify-content: space-between;
                & .prix{
                    font-family: 'ingleby_bold', sans-serif;
                }
            }
        }
    }
    
}

.menu3{
    @include menu_config (menu3);
    @include dishes_text_color (menu3);
    @include contour_titre(menu3);
    @include anim_underline(menu3);
    font-family: 'Segoe Print', sans-serif;
    & h3{
        font-size: 2em;
        margin: 70px 0;
        background: linear-gradient(to right, $menu3-theme1, $menu3-theme2);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    & h4{
        text-align: center;
        font-size: 1.2em;
        font-weight: bolder;
    }
    & h4 span{
        z-index: 2;
        background-color: $background-color-menu3;
        padding: 0 45px;
        position: relative;
    }    
    &__section{
        width: 90%;
        margin: 5px 0 10px;
        & ul{
            padding: 0;
            line-height: 3;
            list-style-type: none;
            width: 95%;
            margin: auto;
            & li{
                display: flex;
                justify-content: space-between;
                & .prix{
                    font-weight: bolder;
                }
            }
        }
    }
}

.menu4{
    @include menu_config (menu4);
    @include dishes_text_color (menu4);
    @include contour_titre(menu4);
    @include anim_underline(menu4);
    font-family: 'Segoe Print', sans-serif;
    & h3{
        font-size: 2em;
        background: linear-gradient(to right, $menu4-theme1, $menu4-theme2);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    & h4{
        text-align: center;
        font-size: 1.2em;
        font-weight: bolder;
    }
    & h4 span{
        z-index: 2;
        background-color: $background-color-menu4;
        padding: 0 5%;
        position: relative;
      }
    &__section{
        width: 90%;
        margin: 5px 0 10px;
        & ul{
            padding: 0;
            line-height: 3;
            list-style-type: none;
            width: 100%;
            margin: auto;
            & li{
                display: flex;
                justify-content: space-between;
                font-weight: lighter;
                & .prix{
                    font-weight: bolder;
                }
            }
        }
    }
}