/* Définitions de paramètres de base */

body{
    box-sizing: content-box;
    font-size: 16px;
    font-family: 'Biko', sans-serif;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    @media screen and(max-width: 600px) {
        font-size: .9em;
    }
    @media screen and(max-width: 400px) {
        font-size: .8em;
    }
}

a{
    text-decoration: none;
    color: inherit;
}