/* Définitions de paramètres de base */

*{
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: 'Biko', sans-serif;
    font-style: normal;
    font-weight: normal;
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}