/* Définitions des polices de caractère */

@font-face {
    font-family: 'Biko';
    src: url('../fonts/biko/Biko.eot?#iefix') format('embedded-opentype'),  
         url('../fonts/biko/Biko.otf')  format('opentype'),
         url('../fonts/biko/Biko.woff') format('woff'), 
         url('../fonts/biko/Biko.ttf')  format('truetype'), 
         url('../fonts/biko/Biko.svg#Biko') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
     font-family: 'Devonshire-Regular';
     src: url('../fonts/devonshire-regular/Devonshire-Regular.eot?#iefix') format('embedded-opentype'),  
          url('../fonts/devonshire-regular/Devonshire-Regular.woff') format('woff'), 
          url('../fonts/devonshire-regular/Devonshire-Regular.ttf')  format('truetype'), 
          url('../fonts/devonshire-regular/Devonshire-Regular.svg#Devonshire-Regular') format('svg');
     font-weight: normal;
     font-style: normal;
}
   

  @font-face {
    font-family: 'Kalam-Regular';
    src: url('../fonts/kalam-regular/Kalam-Regular.eot?#iefix') format('embedded-opentype'),    
         url('../fonts/kalam-regular/Kalam-Regular.woff') format('woff'), 
         url('../fonts/kalam-regular/Kalam-Regular.ttf')  format('truetype'), 
         url('../fonts/kalam-regular/Kalam-Regular.svg#Kalam-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'CroissantOne-Regular';
    src: url('../fonts/croissantOne-regular/CroissantOne-Regular.eot?#iefix') format('embedded-opentype'),  
         url('../fonts/croissantOne-regular/CroissantOne-Regular.woff') format('woff'), 
         url('../fonts/croissantOne-regular/CroissantOne-Regular.ttf')  format('truetype'), 
         url('../fonts/croissantOne-regular/CroissantOne-Regular.svg#CroissantOne-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'ApparatusSIL';
    src: url('../fonts/apparatusSIL/ApparatusSIL.eot?#iefix') format('embedded-opentype'),    
         url('../fonts/apparatusSIL/ApparatusSIL.woff') format('woff'), 
         url('../fonts/apparatusSIL/ApparatusSIL.ttf')  format('truetype'), 
         url('../fonts/apparatusSIL/ApparatusSIL.svg#ApparatusSIL') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'WorstveldSlingBoldOblique';
    src: url('../fonts/worstveldSlingBoldOblique/WorstveldSlingBoldOblique.eot?#iefix') format('embedded-opentype'),    url('../fonts/worstveldSlingBoldOblique/WorstveldSlingBoldOblique.woff') format('woff'), 
         url('../fonts/worstveldSlingBoldOblique/WorstveldSlingBoldOblique.ttf')  format('truetype'), 
         url('../fonts/worstveldSlingBoldOblique/WorstveldSlingBoldOblique.svg#WorstveldSlingBoldOblique') format('svg');
    font-weight: normal;
    font-style: normal;
  }