@import "../Utils/variables";
@import "../Utils/mixins";
@import "typography";
@import "base";
@import "../Layout/header";
@import "../Layout/footer";



.main{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    &__menu{
        width: 35%;
        height: 500px;
        margin: 25px;
        box-shadow: 0 0 3px rgba(0, 0, 0, .3);
        &__1{
            background-color: $background-color-menu1;
            text-align: center;
            padding-top: 115px;
            color: $menu1-theme3;
            & .musical-note{
                @include musical_note;
            }
            & h3{
                @include menu1_titre;
            }
            & a{
                font-family: 'Kalam-Regular', sans-serif;
                font-size: 3.5em;
            }
        }
        &__2{
            background-color: $background-color-menu2;
            text-align: center;
            padding-top: 165px;
            & h3{
                background: linear-gradient(to right, $menu2-theme1, $menu2-theme2);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-family: 'CroissantOne-Regular', sans-serif;
                font-size: 1.7em;
                font-weight: 100;
            }
            & a{
                font-family: ApparatusSIL, sans-serif;
                font-size: 3em;
                color: $menu2-theme1;
                font-weight: 700;
            }
        }
        &__3{
            background-color: $background-color-menu3;
            text-align: center;
            padding-top: 165px;
            & h3{
                background: linear-gradient(to right, $menu3-theme1, $menu3-theme2);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-family: 'CroissantOne-Regular', sans-serif;
                font-size: 1.7em;
                font-weight: 100;
            }
            & a{
                font-family: 'WorstveldSlingBoldOblique', sans-serif;
                font-size: 4em;
                color: $menu3-theme3;
                font-weight: 200;
            }
        }
        &__4{
            background-color: $background-color-menu4;
            text-align: center;
            padding-top: 165px;
            & h3{
                background: linear-gradient(to right, $menu4-theme1, $menu4-theme2);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-family: 'CroissantOne-Regular', sans-serif;
                font-size: 1.7em;
                font-weight: 100;
            }
            & a{
                font-family: 'WorstveldSlingBoldOblique', sans-serif;
                font-size: 4em;
                color: $menu4-theme3;
                font-weight: 200;
            }
        }
    }
    
}

.soon{
    width: 40%;
    text-align: center;
    color: $color-secondary;
    background-color: $color-primary;
    margin: 30px 0 55px;
    padding: 15px 0;
    font-size: 2.7em;
    border-radius: 10px 10px;
    
}


